{% block writer_content %}
{% if latest_writer_list %}

<!--first writer -->
    <ul>
    {% if latest_writer_list.one_writer %}
                <li>{{ latest_writer_list.one_writer.first_name }}{{ latest_writer_list.one_writer.last_name }}   
                    
                    {% if latest_writer_list.one_writer.photo %}            
                        <img src="{{latest_writer_list.one_writer.photo.url}}"/>
                    {% else %}                        
                        <span>No Photo</span>
                    {% endif %} 
                    <a href="writers/{{ latest_writer_list.one_writer.name_slug }}">Check out my bio.</a>
                    
                    {% if latest_writer_list.one_story %}
                    <ul>
                        <li>My latest story: {{ latest_writer_list.one_story.headline }}</li>
                    </ul>                    
                    {% endif %}
                    
                </li>
    {% endif %}
    </ul>

<!--second writer -->
    <ul>
    {% if latest_writer_list.two_writer %}
                <li>{{ latest_writer_list.two_writer.first_name }}{{ latest_writer_list.two_writer.last_name }}   
                    
                    {% if latest_writer_list.two_writer.photo %}            
                        <img src="{{latest_writer_list.two_writer.photo.url}}"/>
                    {% else %}                        
                        <span>No Photo</span>
                    {% endif %} 
                    <a href="writers/{{ latest_writer_list.two_writer.name_slug }}">Check out my bio.</a>
                    
                    {% if latest_writer_list.two_story %}
                    <ul>
                        <li>My latest story: {{ latest_writer_list.two_story.headline }}</li>
                    </ul>                    
                    {% endif %}
                    
                </li>
    {% endif %}
    </ul>

<!--third writer -->
    <ul>
    {% if latest_writer_list.three_writer %}
                <li>{{ latest_writer_list.three_writer.first_name }}{{ latest_writer_list.three_writer.last_name }}   
                    
                    {% if latest_writer_list.three_writer.photo %}            
                        <img src="{{latest_writer_list.three_writer.photo.url}}"/>
                    {% else %}                        
                        <span>No Photo</span>
                    {% endif %} 
                    <a href="writers/{{ latest_writer_list.three_writer.name_slug }}">Check out my bio.</a>
                    
                    {% if latest_writer_list.three_story %}
                    <ul>
                        <li>My latest story: {{ latest_writer_list.three_story.headline }}</li>
                    </ul>                    
                    {% endif %}
                    
                </li>
    {% endif %}
    </ul>

{% else %}
    <p>No writers are available.</p>
{% endif %}
{% endblock %}