{% block carousel-css-files %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.1/flexslider.min.css">

{% endblock %}

    {% block carousel-css %}
        
    <!—CSS in Template—>

    <style type="text/css">
        .flex-caption {
          width: 100%;
          padding: 2%;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,.5);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0,0,0,.3);
          font-size: 14px;
          line-height: 18px;
        }
    </style>

    {% endblock %}
        
{% block carousel-body %}
    
<!—Construct IN Template—>

    {% if carousel %}

    <!--
    <p>YES, CAROUSEL, ya-hoo!</p>
    <p> carousel headline 1 {{ carousel.storyOne.headline }}</p>
    <p> carousel image path 1 {{ carousel.storyOne.photo.url }}</p>

    <p> carousel headline 2 {{ carousel.storyTwo.headline }}</p>
    <p> carousel image path 2 {{ carousel.storyTwo.photo.url }}</p>

    <p> carousel headline 3 {{ carousel.storyThree.headline }}</p>
    <p> carousel image path 3 {{ carousel.storyThree.photo.url }}</p>

    <p> carousel headline 3 {{ carousel.storyFour }}</p>
    -->

    <div class="container">

        <h3>Carousel</h3>
    
            <div class="row">
                <div id="slider" class="flexslider col-sm-8">
                  <ul class="slides">

                    <li>
                      <img class="medium" src="{{ carousel.storyOne.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyOne.headline }}</p>
                    </li>
                      
                    <li>
                      <img class="medium" src="{{ carousel.storyTwo.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyTwo.headline }}</p>
                    </li>
                    <li>
                      <img class="medium" src="{{ carousel.storyThree.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyThree.headline }}</p>
                    </li>
                      
                 {% if carousel.storyFour %}
                      {% if carousel.storyFour.photo %}
                    <li>
                        <img class="medium" src="{{ carousel.storyFour.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyFour.headline }}</p> 
                    </li>
                      {% endif %}
                 {% endif %}
                      
                    <!-- items mirrored twice, total of 12 -->
                  </ul>
                </div>
            </div>
            <div class="row">
                <div id="carousel" class="flexslider col-sm-8">
                  <ul class="slides">            
                    <li>
                      <img class="medium" src="{{ carousel.storyOne.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyOne.headline }}</p>
                    </li>
                      
                    <li>
                      <img class="medium" src="{{ carousel.storyTwo.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyTwo.headline }}</p>
                    </li>
                    <li>
                      <img class="medium" src="{{ carousel.storyThree.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyThree.headline }}</p>
                    </li>
                      
                {% if carousel.storyFour %}
                      {% if carousel.storyFour.photo %}
                    <li>
                        <img class="medium" src="{{ carousel.storyFour.photo.url }}" />
                        <p class="flex-caption">{{ carousel.storyFour.headline }}</p> 
                    </li>
                      {% endif %}
                 {% endif %}
                      
                    <!-- items mirrored twice, total of 12 -->
                  </ul>
                </div>
            </div>
        </div>

    {% else %}

       <p>No CAROUSEL, SORRY.</p>

    {% endif %}

    {% endblock %}

    {% block javascript-flex-include %}
        <!—Required in Template—>       
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.1/jquery.flexslider.min.js"></script>

    {% endblock %}

    {% block javascript-flex-code %}
        <!—JS to add in Template—>

        <script type="text/javascript">

            $(window).load(function() {
              // The slider being synced must be initialized first
              $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 5,
                asNavFor: '#slider'
              });

              $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
              });
            });
        </script>
    {% endblock %}
