{% block writer_content %}
{% if instance %}

<!--first writer -->
<h3>Writers:</h3>
<div>
    
    
        
{% for key,value in instance.items %}
    <!--span> huh? {{key}} : {{value.0.name_slug}} {{value.1.headline}} {{value.1.body_text}}</span><br/-->
        <ul style="list-style-type: none; display:inline;">
        <li style="display:inline;">
            {% if value.0.photo %}            
            <a href="writers/{{ value.0.name_slug }}"><img src="{{value.0.photo.url}}"/></a>
            {% else %}                        
                <span>No Photo</span>
            {% endif %} 
        </li>
        <li style="display:inline;">
            <a href="writers/{{ value.0.name_slug }}">{{ value.0.first_name }} {{ value.0.last_name }} </a>
                <br/>
                <span>{{ value.1.publish_date }}</span>
                {% if value.1.headline %}
                <br/>My latest story: <a href="/story/{{value.1.headline_slug}}">{{ value.1.headline }}</a>                        
                <!--br/><a href="writers/{{ value.0.name_slug }}">Check out my bio.</a-->
                {% endif %}
        </li> 
        </ul>
{% endfor %}       
    

</div>

{% else %}
    <p>No writers are available.</p>
{% endif %}
{% endblock %}